.contactPopUps{
    position: fixed;
    height: auto;
    padding-top: 2vh;
    width: 40vw;
    left : 33vw;
    top: 28vh;
    border-radius: 3%;
    background: blanchedalmond;
    border: dashed black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
