/*-------------------*/
/*STYLE TABLE:
  1- CONTACT LIST OUTSIDE STRUCTURE
  2- CONTACT LIST INSIDE ELEMENTS
    2-1 DYNAMIC ELEMENTS
----------------------*/
/*1- CONTACT LIST OUTSIDE STRUCTURE*/
#contactMain{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}
/*--------------------------------------------------------------*/
/*2- CONTACT LIST INSIDE ELEMENTS*/
/*2-1 DYNAMIC ELEMENTS*/
#contactMain .title{
    font-family: monospace;
    font-size: 2em;
    position: sticky;
    top: 1vh;
    margin : 2%;
}
#contactMain .addButton{
    height: 3vh;
    width: 2vw;
    text-align: center;
    outline: none;
    margin : 2%;
}

#contactMain .addButton, #contactMain .title{
    position: relative;
}

