*, ::before*, ::after* {box-sizing: border-box}

html , body{
    margin: 0;
    padding: 0;
}
/* must design a layout for the page*/
#contactsList{
    border: black dashed;
    margin-left: 35%;
    margin-top: 4%;
    height: 50vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#listTitle{
    font-size: 3vw;
}

#contactForm{
    border: black dashed;
    background: green;
    width: 30vw;
    height: 40vh;
    position: fixed;
    top : 27vh;
    left: 30vw;
    text-align: center;
    padding: 2vh;
}

#infoCard{
    border: black dashed;
    background: green;
    width: 30vw;
    height: 40vh;
    position: fixed;
    top : 27vh;
    left: 30vw;
    text-align: center;
    padding: 2vh; 
}

#infoWrap{
    margin : 3%;
}

.cancelBtn{
    height: auto;
}

.infoPlaceHolder{
    display: block;
    margin : 2%;
    background: white;
}


.contactInput{
    margin : 2%;
}

#contactEdit,#contactDelete {
    display: inline;
}

 #contactDelete:hover {
    cursor: pointer;
}
#contactEdit:hover{
    cursor: pointer;
}

#contactDelete{
    
}

#contactEdit{

}