*, ::before*, ::after* {box-sizing: border-box;}

html ,body{
    padding: 0;
    margin: 0;
    background: palevioletred;
    /* display: grid; */}

    #signUpForm{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40vw;
        height: 40vh;
        margin: 4% auto;
        padding: 2%;
        position: relative;
        background: lightgrey;
        box-shadow: darkgrey 1em 1em;
    }

    input{
        padding: 1%;
        height: 3%;
        width: 12vw;
        height: 3vh;
        border: none;
        border-left: #444 solid 3em;
        background: #f9f9f9;
        color: #111;
        transition:100ms ease-out all;
        font-size:14px;
        display:block;
        position:relative;
      }

      input:focus {
        outline:none;
        border-left: #74B43C 3em solid;
        background:#fff;
        transition:100ms ease-out all;
      }
    
      input , label {
        position:relative;
        top: 2.9%;
        left:2.2%;
        text-transform:uppercase;
        font-size:11px;
        color:black;
      }
    
      input[type=submit] {
        border-left:0;
        width:8%;
        color:#999;
        margin-left:10%;
        font-family: sans-serif;
        text-transform:uppercase;
        line-height:1.1em;
        cursor:pointer;
        border:2px solid #f9f9f9 ;
      }
      
      input[type=submit]:hover {
        color: #74B43C;
      }
      
      input[type=submit]:focus {
        color:#74B43C;
        border-color:#74B43C;
      }
      
      #submitButton{
          width: 10vw;
          height: 5vh;
          color: #f9f9f9;
          background: #74B43C;
          margin: 3%;
      }

      footer{
          font-family: 'Times New Roman', Times, serif;
          margin-left: 40vw;
          margin-top: 25vh;
      }