#logo{
    height: 10vh;
    width: 4vw;
    background: orange;
    border-radius: 15%;
    padding-top: 1vh;
    box-sizing:border-box;
    position: relative;
    -webkit-box-shadow: 2px 2px 0px 2px rgba(231, 150, 0,1);
    -moz-box-shadow: 2px 2px 0px 2px rgba(231, 150, 0,1);
    box-shadow: 2px 2px 0px 2px rgba(231, 150, 0,1);
    margin: 2%;
  }
  .straps{
    background: silver;
    height: 8%;
    width: 1vw;
    border-radius: 30%;
    margin: 1.5vh -1vh;
  }
  #icon{
      position: absolute;
  }
  .person-icon{
    background: black;
    position: relative;
    height: 3em;
    width: 3em;
    margin-left: 40vw;
    margin-top: 30vh;
    border-radius:   50%/100px 100px 0 0;
  }
  .person-icon::before{
    content: "";
    background: black;
    height: 2em;
    width: 2em;
    display: block;
    position: absolute;
    top: -2em;
    left: 0.5em;
    margin-right: 1em; 
    border-radius: 50%;
  }