.inputWrapper{
    margin: 5%;
}
.inputBox{
   background: transparent;
   border: none;
   border-bottom : 0.3vh dashed black;
   padding-left: 1%; 
   outline: none;
   font-family: "Comic Sans MS", cursive, sans-serif;	
}
.label{
    margin-right: 2vw; 
    margin-left: 2vw;
    font-size: 1.5vw; 
}

.inputBox, .label{
    display: block;
}

.inputBox, .label{
    position: relative;
}

.rightCredintials{
    border-bottom-color: green;
}

.wrongCredintials{
    border-bottom-color: rgb(214, 39, 8);
}

/*-------------------------------------------------------------------------*/
/*TABLET QUERIES*/
@media (max-width : 1024px ) and (min-width : 768px) {
    .label{
        font-size: 4vw;
    }
    .inputBox{
        width: 40%;
        font-size: 3vw;
    }
 }  
/*SMART PHONE QUERIES*/
@media (max-width : 500px){
    .inputWrapper{
        margin: 2%;
    }
    .label{
        font-size: 28px;
        display: block;
    }
    .inputBox{
        width: 80%;
    }
}
@media(max-width : 380px) {
    .inputWrapper{
        margin: 3%;
    }
}
@media(max-width : 330px){
    .label{
        font-size: 20px;
    }
} 