.submitBtn{
    outline: none;
    border-radius: 10%;
    font-weight: bold;
    margin: 4%;
    display: block;
    position: relative;
}

/*validation : i want this to go red if all the inputs are not filled*/
.submitBtn:focus , .submitBtn:hover{
    background: limegreen;
}

/*TABLET QUERIES*/
/*TABLET*/
@media (max-width : 1024px ) and (min-width : 768px) {
    .submitBtn{
        width: 20vw;
        height: 4vh;
        font-size: 3vw;
    }
 }


.cancelBtn{
    margin-left: 45%;
    margin-bottom: 4%;
    outline: none;
    font-size: 10%;
 }