.submitBtn{
    outline: none;
    border-radius: 10%;
    font-weight: bold;
    margin: 4%;
    display: block;
    position: relative;
}

.invalidSubmit{
    background: rgb(230, 34, 20) !important; 
    color: rgb(202, 202, 202) !important;
}

/*TABLET QUERIES*/
/*TABLET*/
@media (max-width : 1024px ) and (min-width : 768px) {
    .submitBtn{
        width: 20vw;
        height: 4vh;
        font-size: 3vw;
    }
 }


.cancelBtn{
    outline: none;
    font-size: 10%;
 }