.colorList{
    border: black dashed;
    position: fixed;
    top: 35vh;
    left : 4.5vw;
    height: 40vh;
    width: 15vw;
 }
 
 .colors{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-auto-rows: 20%;
    grid-gap: 2%;
    overflow-y: auto;
 }
 
 .paletteClass{
    background: whitesmoke;
    text-align: center;
    padding-top: 5%;
    overflow-wrap: break-word;
 }
 
 .paletteClass:hover{
    cursor: pointer;
 }
 
 .cancelBtn{
    margin-left: 45%;
    margin-bottom: 4%;
    outline: none;
    font-size: 10%;
 }