.palettePopUp{
   border: black dashed;
   position: fixed;
   top: 35vh;
   left : 4.5vw;
   height: 50vh;
   width: 15vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 1vh;
}
 
.blockList{
   height: 100%;
   width: 100%;
   display: grid;
   grid-template-columns: 49% 49%;
   grid-auto-rows: 20%;
   grid-gap: 2%;
   overflow-y: auto;
   margin-top: 1vh;
}

.paletteBlock{
   background: whitesmoke;
   text-align: center;
   padding-top: 5%;
   overflow-wrap: break-word;
   cursor: pointer;
}
  
