.footer{
    grid-area: footer;
    margin-top : 13vh;
    margin-left: 2vw;
    font-family: monospace;
    font-size: inherit;
    font-weight: bold;
}


/* TABLET*/
@media (max-width : 1024px ) and (min-width : 768px) {
    .footer{
        font-size: 2.5vw;
    }
 }  

 /*-------------------------
    STYLE TABLE :
    1- PALETTE INTERFACE
    2- PALETTE INNER
        2-1 PALETTE LIST
            2-1-1 PALETTE LIST OUTSIDE STRUCTURE
            2-1-2 PALETTE LIST INSIDE ELEMENTS
        2-2 cancel button
    3- MEDIA QUERIES
        3-1 COMBINED
        3-2 TABLET
        3-3 SMART PHONES
---------------------------*/
/*1- PALETTE INTERFACE*/
.paletteIcon{
    grid-area: palette;
    margin-left: 2%;
}
.paletteIcon img{
    width: 3vw;
    height: auto;
    cursor: pointer;
}
/*----------------------------------------------*/
/* 2- PALETTE INNER */
/*2-1 PALETTE LIST*/
/*2-1-1 PALETTE LIST OUTSIDE STRUCTURE*/
.palettePopUp{
    position: fixed;
    top: 35vh;
    left : 4.5vw;
}
.styleList{
    height: 40vh;
    width: 15vw;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-auto-rows: 20%;
    grid-gap: 2%;
    overflow-y: auto;
}
/*----------------------------*/
/*2-1-2 PALETTE LIST INSIDE ELEMENTS*/
.block{
    background: whitesmoke;
    text-align: center;
    padding-top: 5%;
    overflow-wrap: break-word;
}
.block:hover{
    cursor: pointer;
}
/*-------------------------------------*/
/* 2-2 cancel button */
.cancelButt{
    margin: 2%;
    margin-left: 45%;
}
/*----------------------------------------------*/
/*3- MEDIA QUERIES*/
/*COMBINED*/
@media(max-width : 1024px){
    .palettePopUp{
        left: 7vw;
    }
    .styleList{
        width: 40vw;
    }
}
 /*------------------------------------------------*/
/*3-2 TABLET*/
@media (max-width : 1024px ) and (min-width : 768px) {
    img{
        margin-top: 35%;
        margin-left: 25%;
        width: 8vw;   
    }
    .block{
        font-size: 3vw;
    }
    .cancelButt{
        height: 3vh;
        width: 4vw;
    }
    
 }  
 /*------------------------------------------------*/
 /*3-3 SMART PHONES*/

 @media (max-width : 500px) and (min-width : 320px) {
    img{
        margin-top: 55%;
        margin-left: 25%;  
        width: 8vw;    
    }
 }

 @media (max-width : 380px){
     .palettePopUp{
         top : 30vh;
     }
    .styleList{
        height: 50vh;
    }
}

@media (max-width : 500px) and (min-width : 385px) {
    .palettePopUp{
        top: 38vh;
    }
 }