.footer{
    grid-area: footer;
    margin-top : 13vh;
    margin-left: 2vw;
    font-family: monospace;
    font-size: inherit;
    font-weight: bold;
}


/* TABLET*/
@media (max-width : 1024px ) and (min-width : 768px) {
    .footer{
        font-size: 2.5vw;
    }
 }  
