body main{
    grid-area: main;
    height: 65vh;
    width: 20vw;
    text-align: center;
    border-left: ridge 0.5vw ;
    border-radius: 3%;
    -webkit-box-shadow: 13px 5px 32px -19px rgba(0,0,0,1);
    -moz-box-shadow: 13px 5px 32px -19px rgba(0,0,0,1);
    box-shadow: 13px 5px 32px -19px rgba(0,0,0,1);
}

/*3- MEDIA QUERIES*/
@media (max-width : 900px ) {
    main{
       width : 30VW ;
    }
 }  
 @media (max-width : 600px ) {
    main{
       width : 35VW ;
    }
 }