*, *::before, *::after {box-sizing: border-box}
html ,body{
   margin : 0;
   padding: 0;
}

/*-----------------
STYLE TABLE :
1- GLOBAL SELECTORS
2- DISPLAY CLASSES
/*-------------------
  1- GLOBAL SELECTORS
  -------------------*/
body {
overflow: hidden;
height: 100vh;
width: 100vw;  
display : grid;
grid-template-columns: 40% 20% 40%;
grid-template-rows: 15% 60% 25%;
grid-gap: 3%;
grid-template-areas: "header header header"
                       ". main ."
                       "palette footer footer"; 
font-family: "Comic Sans MS", cursive, sans-serif;
}

/*---------------------------------------------------------------------*/
