.default {
    background: rgb(118, 46, 146);
}

.default header , .default main{
    background: #ad80c2;
}

.default header nav button{
    background: #cf98f3;
}

.flowery{
    background: #ce1d1d;
}
.flowery header , .flowery main{
    background: #e07f87;
}
.flowery header nav button{
    background: #f398dc;
}

.seaSide{
    background: #1666c2;
}
.seaSide header , .seaSide main{
    background: #6e88fa;
}
.seaSide header nav button{
    background: #98f3eb;
}